<div class="container">
<h1>My Course Tables</h1>
<hr>

<!-- <table>
  <tr>
    <th *ngFor = "let column of headers">
      {{column}}
    </th>
    
  </tr>
  <tr *ngFor = "let row of rows">
    <td *ngFor = "let column of headers">
      {{row[column]}}
    </td>
    <button (click)="deleteEmployee(i)">Delete</button>
  </tr>
</table> -->

<div class="row">
  <div class="col-lg-2">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
    </div>
  </div>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th *ngFor = "let column of headers">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let row of rows | filter:term"> 
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.age}}</td>
        <td>{{row.gender}}</td>
        <td>{{row.country}}</td>
         <button (click)="deleteEmployee(i)">Delete</button>
       </tr>
    </tbody>
  </table>
  
</div>

<hr>
<div class="row">
  <div class="col-lg-4">
    <div class="gap">
      <input type="text" class="input" [(ngModel)]="id" placeholder="id" />
    </div>
    <div class="gap">
      <input type="text" class="input" [(ngModel)]="name" placeholder="Name" />
    </div>
    <div class="gap">
      <input type="text" class="input" [(ngModel)]="age" placeholder="Age" />
    </div>
    <div class="gap">
      <input type="text" class="input" [(ngModel)]="gender" placeholder="Gender" />
    </div>
    <div class="gap">
      <input type="text" class="input" [(ngModel)]="country" placeholder="Country" />
    </div>

    <div class="gap">
  <button (click)="buttonClicked()">Click to Insert New Row</button>
  </div>
  </div>
</div>

</div>
<router-outlet></router-outlet>
